body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ff0000;
}
.header{
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19);
}
.header .user{
    padding: 3px;
    padding-left: 30px;
}
.header-nav{
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.089), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}
.header-nav a :hover{
    background-color:blueviolet;
}
.header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin:3px 0px;
}

.block_left{
    margin: 0px !important;
    padding: 0 !important;
    color: white;
    background-color:rgb(59, 58, 58);
}
.project_item{
    padding: 1px;
    padding-left: 10px;
}
.block_left a :hover{
    background-color:rgb(10, 10, 10);
}

.block_between{
    margin: 0px !important;
    background-color: white;
    color: white;
}
.choses{
    color: black ;
    margin-top: 10px;
}
.choses_form{
    margin: 3px 20px !important;
}

.task_item{
    margin: 3px 5px !important;
    height: 40px;
    font-size: 12px;
    color: white;
    opacity: 90%;
}
.task_item:hover{
    opacity: 100%;
    font-size: 14px;
}
.task_item_inner_title{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-weight: bold;
}
.task_item_inner{
    display: flex;
    align-items: center;
    max-height: 100%;
    overflow-x: auto;
}
.block_right{
    margin: 0px !important;
    background-color:rgb(65, 63, 63);
    color: white;
}
.user_item{
    padding: 0px;
    margin:1px;
    font-size: 15px;
}
.user_item img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.footer{
    background-image: linear-gradient(to right, rgba(8, 138, 245, 0.815), rgb(160, 20, 241)); padding: 0px;
    color:white;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    height: 100px;
}
.text_input{
    height: 100px;
    width: 500px;
    color: dodgerblue;
}


.add_user,.delete_user{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}
.add_user_content,.delete_user_content{
	width: 50%;
    height: auto;
	margin: 5% auto 5% auto;
	background-color: white;
	padding: 5px 30px;
    padding-bottom: 30px;
}

.view_project{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}
.view_project{
	width: 80%;
    height: 80%;
	margin: 5% auto 5% 10%;
	background-color: white;
	padding: 5px 30px;
    padding: 30px 20px;
}

.form {
    width: 50%;
    padding: 20px;
    height: auto;
    margin: auto;
    background-color:white;
}
.form .big {
    height: 100px !important;
}


/* p {
    font-weight: bold;
    font-size: 25px;
} */

img {
    border-radius: 50%;
    height : 100px;
    width : 100px;
}
.bg-color{
    background-color: white;
    margin: 10px;
}
.pagination{
    text-align: center;
    background-color: blue;
    margin:30px 0px;
}
.pagination a{
    text-decoration: none;
    color: white;
}
.pagination a:hover{
    color:white;
    font-size: 20px;
}


.messages{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height:auto;
    width: 300px;
    color: white;
    background-color:rgb(25, 115, 233);
    padding: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.089), 0 5px 30px 0 rgba(0, 0, 0, 0.19);
}

.shape {
    /* background-color: blueviolet; */
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 40px solid rgb(17, 50, 238);
	border-bottom: 20px solid transparent;
}