<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
        // $('#datetimepicker').datetimepicker();
    });


</script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color:rgb(240,242,245);">

    {% include 'header.html' %}
<!--  -->
    {% block content %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            window.alert("Edit thành công ");
        </script>
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} 
    {% endblock %} 
    
    {% include 'messages.html' %}
<!--  -->
    <!-- {% include 'footer.html' %} -->
</body>

</html>

