{% extends "base.html" %}

{% block title %}Trang home{% endblock %}

{% block header %}
    <p>Đây là Home</p>
{% endblock %}

{% block content %}
   <img src="{{ user.image.url}}">
   <p>Tên người dùng : {{ user }}</p>
   <a href="{% url 'accounts:edit' %}">edit profile</a><br>
   <a href="{% url 'accounts:logout' %}">logout</a><br>
   <a href="{% url 'accounts:logout_then_login' %}">logout_then_login</a><br>
   <a href="{% url 'accounts:password_change' %}">password_change</a><br>
   
{% if messages %}
      <ul class="messages">
              {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
         {% endfor %}
      </ul>
   {% endif %}

{% endblock %}