{% extends "main_app_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Trang task{% endblock %}

{% block header %}
    <p>change Task</p>
{% endblock %}

{% block content %}
<div class="form">
    <form action="#" method="post">
        {% csrf_token %}
        {{ task_form|crispy }}
        <input type="submit"  class='btn btn-success' value="Change" name="UpdateTask">
        <input type="submit"  class='btn btn-success' value="Delete" name="DelTask" style="float: right;">
    </form>
</div>
{% endblock %}