{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div class="form_accounts" style="margin-top: 5px;width: 400px;">
    <a href="{% url 'accounts:home' %}">Home</a>
    <form  class='form_accounts_edit' action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>First_name :</label>
        {{ form.first_name }}
        <label>Last_name :  </label>
        {{ form.last_name }} 
        <label>Email :</label>
        {{ form.email }}
        <img src="{{ user.image.url }}"><br>
        <label>Image : {{ form.image }} </label><br>
        <input  class="btn btn-primary" type="submit" value="Chỉnh sửa" style="width: 100%;">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>


<!-- notify -->

{% endblock %}