{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
    <p>Đây là Loginn</p>
{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <a href="{% url 'accounts:sign' %}">Sign</a><br>
    <a href="{% url 'social:begin' 'facebook' %}?next={% url 'accounts:home' %}">Login with Facebook</a><br>
    <a href="{% url 'accounts:password_reset' %}">password_reset</a><br>


<!-- notify -->
{% if messages %}
<ul class="messages">
  {% for message in messages %}
     <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
 </ul>
{% endif %}


{% endblock %}