{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div class="form_accounts">
    <h4 style="text-align: center;">Password reset</h4>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p style="font-size: 10px;">Nhập vào email đăng kí</p>
        <input type="submit" value="Send" class="btn btn-primary" style="width: 100%;">
        <!-- <input type="hidden" name="next" value="{{ next }}"> -->
    </form>
    <br><a class="btn btn-primary" href="{% url 'accounts:login' %}" style="float: right;width: 100%;">Login</a><br>
</div>

{% endblock %}