<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}
{% endblock %}


{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <script>
      window.alert("Edit thành công ");
  </script>
    <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>