{% extends "app1/base.html" %}

{% block title %}Đăng kí{% endblock %}

{% block header %}
    <p>Đây là trang đăng kí</p>
    <a href="{%  url 'app1:home' %}"> Quay về trang chủ </a>
{% endblock %}

{% block content %}
    <form action="{% url 'app1:get_sign' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ sign }}
        <input type="submit" value="Submit">
    </form>
    {% if sign_notify_error %}
         <script>
             window.alert("Đăng kí không thành công đã tồn tại username ");
         </script>
    {% elif error %}
         <script>
             window.alert("Lỗi đăng kí ");
         </script>
    {% endif %}
{% endblock %}